.page {
	background-color: #4a87a9;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.pagecontent {
}
.codeblock {
	background-color: white;
	color: black;
	padding: 5px;
	width: fit-content;
	border-radius: 5px;
}
pre {
	margin-top: 5px;
}
